.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background:purple
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background: cyan;
    height: 40vh;
}
legend{
    text-align: center;
}
